
  
p{
    text-align: center;
  }
  
h2{
    font-family:"Sofia", sans-serif;
    font-size: 60px
  }
  
  /* ----------------------------------- */
@media (max-width: 1100px) {
    .teamBio {
      flex-direction: column;
      flex-wrap: wrap;
      display: flex;
    }
    .statementSection {
      display: flex  !important;
      flex-direction: column !important;
  }
  p{
    font-size: 30px !important;
  }
  }
  
  
@media (max-width: 600px) {
    .iconstwo {
      font-size: 15px;
      flex-direction: column;
    }
   .video{
    display: none;
   }
   .typing-demo{
    display: none;
   }
   .typing-font{
    font-size: 1px !important;
   }
  
  
  }