.hero-div{
  background-color: rgb(255, 255, 255);
}
.wrapper {
background-color: white;
}

.typing-demo {
  width: 22ch;
  animation: typing 5s steps(30), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  font-family:Sofia;
  font-size: 40px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.boxheader{
  font-family:"Sofia", sans-serif;
  font-style: italic;
  
}
.firstimg{
 margin-left: 10px;

}



p{
  text-align: center;
}


.icons{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.iconstwo{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 30px;
}
.iconsthree{
  display: flex;
justify-content: space-around;
font-size: 30px;
margin-bottom: 30px;
}

.card {
  position: relative;
}

.card:hover {
  animation: moveUp 0.5s linear forwards;
}

@keyframes moveUp {
  to {
    transform: translateY(-10px);
  }
}


h2{
  font-family:"Sofia", sans-serif;
  font-size: 60px
}
.introVideo{
  font-size: 20px;
  margin-top: 20px;
}

i {
  color: rgb(5, 215, 238);
  transition: transform 0.3s linear;
}

i:hover {
  transform: translateY(-8px);
}

/* --------------------------------------- */
@media (max-width: 1100px) {
  .teamBio {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
  }

p{
  font-size: 30px !important;
}
}


@media (max-width: 600px) {
  .iconstwo {
    font-size: 15px;
    flex-direction: column;
  }
 .video{
  display: none;
 }
 .typing-demo{
  display: none;
 }
 .typing-font{
  font-size: 1px !important;
 }


}
